.button-container {
    display: flex;
    margin: var(--spacing-md) 0;


}

.button-container button:nth-of-type(2){
    margin: 0 0 0 var(--spacing-md);
    color: var(--purple-2);
}

.hero p {
    max-width: 480px;
    font-weight: bold;
    line-height:25px;
}

.hero .container-phone {
    height: 564px;
    display: flex;
    justify-content: flex-end;
}

.hero-phone {
    height: 628px;
    transform: translate(32px, -32px);
}