
body {
    font-family: var(--body-font);
    color: var(--text-dark);
    width: 100%;
    padding: var(--spacing-sm) 0 0 0;
    background-color: var(--bg-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

