

h1 {
    font-family: var(--heading-font) ;
    font-size: 94px;
    font-weight: 600;
    line-height: 108px;
    margin: var(--spacing-md) 0 0 0;
    width: 100%;
    letter-spacing: -1px;
}

h2 {
    font-family: var(--heading-font) ;
    font-size: 50px;
    font-weight: 500;
    line-height: 75px;
    margin: 0;
    width: 100%;
    letter-spacing: 0.25px;
}

h3 {
    font-family: var(--heading-font) ;
    font-size: 40px;
    font-weight: 500;
    margin: 0;
    width: 100%;
}

h4 {
    font-family: var(--heading-font) ;
    font-size: 32px;
    font-weight: 500;
    margin: 0;
    width: 100%;
    letter-spacing: 0.25px;
}

h5 {
    font-family: var(--heading-font) ;
    font-size: 28px;
    font-weight: 500;
    margin: 0;
    width: 100%;
}

h6 {
    font-family: var(--heading-font) ;
    font-size: 22px;
    font-weight: 500;
    margin: 0;
    width: 100%;
}