.subtitle,
.subtitle2 {
    color: var(--purple-1);
    font-family: var(--heading-font);
    font-weight: 500;
    font-size: var(--subtitle-size);
    line-height: var(--subtitle-hight);
}

.subtitle2 {
    color: var(--blue-1);
}