:root {
    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 32px;
    --spacing-xl: 64px;
    --subtitle-size: 17px;
    --subtitle-height: 26px;
    --p-size:18px;
    --p-height: 26px;
    --secondary-text-size: 14px;
    --secondary-text-height: 18px
    --button-size: 16px;
}